/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
}

h1{
  font-size: 3.6rem;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 2.1rem;
}
h5{
  font-size: 1.8rem;
}
p{
  font-size: 1.7rem;
}
button{
  font-size: 1.7rem;
}
li{
  font-size: 1.7rem;
}

body {
  padding: 2vh 5%;
  /* margin: 2vh 5%; */
  background-color: #dcd7d3;
}

img {
  /* max-width: 300px; */
  /* max-height: 500px; */
}

button{
  --color: hsl(208,72%, 39%);
  display: block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid var(--color);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25em;

  position: relative;
  isolation: isolate;
}
button::after{
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--color);
  inset: 0;

  scale: 0 1;
  transform-origin: right;
  transition: 450ms;
}
button:hover::after,
button:focus-visible::after{
  transform-origin: left;
  scale: 1 1;
}

/******************************************
/* LAYOUT
/*******************************************/

/*********************** header ***********************/
header{
  background-color: #e8eded;
}

header img{
  max-width: 75px;
  max-height: 75px;
}

header nav{
  display: flex;
  align-items: center;
  text-align: right;
}

header a{
  text-decoration: none;
  color: black;
}
header a:hover{
  padding-bottom: 0.5em;
  border-bottom: 3px solid gray;
}

header ul{  
  flex-basis: 100%;
  padding-right: 5%;
}
header nav ul li{
  display: inline-block;
  padding-left: 5%;
}

/*********************** main ***********************/
main{
  display: flex;
  /* justify-content: space-between; */
  height: 60vh;
  background-color: #3da1b1;
}
.left,
.right{
  flex-basis: 50%;
}

.right img{
}

/*********************** features ***********************/
.container-for-features{
  display: flex;
  align-items:center;
  justify-content:center;
}

/*********************** footer ***********************/
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
